
<h1 class="title has-text-white">Edit Manga</h1>
<form action="/manga/<%= manga.id %>/edit" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="field">
    <label for="title" class="label has-text-white">Title</label>
    <div class="control">
      <input type="text" class="input" id="title" name="title" value="<%= manga.title %>" required>
    </div>
  </div>
  <div class="field">
    <label for="otherTitle" class="label has-text-white">Alternative Title</label>
    <div class="control">
      <input type="text" class="input" id="otherTitle" name="otherTitle" value="<%= manga.otherTitle %>">
    </div>
  </div>
  <div class="field">
    <label for="author" class="label has-text-white">Author</label>
    <div class="control">
      <input type="text" class="input" id="author" name="author" value="<%= manga.author %>">
    </div>
  </div>
  <div class="field">
    <label for="artist" class="label has-text-white">Artist</label>
    <div class="control">
      <input type="text" class="input" id="artist" name="artist" value="<%= manga.artist %>">
    </div>
  </div>
  <div class="field">
    <label for="genre" class="label has-text-white">Genre</label>
    <div class="control">
      <input type="text" class="input" id="genre" name="genre" value="<%= manga.genre.join(', ') %>">
    </div>
  </div>
  <div class="field">
    <label for="synopsis" class="label has-text-white">Synopsis</label>
    <div class="control">
      <textarea class="textarea" id="synopsis" name="synopsis" rows="3"><%= manga.synopsis %></textarea>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <label class="checkbox has-text-white">
        <input type="checkbox" id="rating" name="rating" <%= manga.rating === '18+' ? 'checked' : '' %>>
        18+
      </label>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-primary">Update Manga</button>
    </div>
  </div>
</form>

<form action="/manga/<%= manga.id %>/delete" method="POST" class="mt-3" onsubmit="return confirm('Are you sure you want to delete this manga?');">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-danger">Delete Manga</button>
    </div>
  </div>
</form>
