<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        AsagiScans
      </h1>
      <h2 class="subtitle">
        Your source for high-quality manga translations.
      </h2>
    </div>
  </div>
</section>

<div class="buttons">
  <% allGenres.forEach(genre => { %>
    <a href="/?genre=<%= genre %>" class="button is-info is-outlined"><%= genre %></a>
  <% }); %>
</div>

<h1 class="title">Manga Library</h1>
<div class="columns is-multiline">
  <% mangaLibrary.forEach(manga => { %>
    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-image">
          <figure class="image is-2by3">
            <a href="/manga/<%= manga.id %>">
              <img src="/manga/<%= manga.id %>/<%= manga.cover %>" alt="<%= manga.title %>">
            </a>
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-5"><a href="/manga/<%= manga.id %>" class="has-text-white"><%= manga.title %></a></p>
        </div>
      </div>
    </div>
  <% }); %>
</div>

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <ul class="pagination-list">
    <% for(let i = 1; i <= totalPages; i++) { %>
      <li>
        <a class="pagination-link <%= i == currentPage ? 'is-current' : '' %>" href="/?<%= q ? `q=${q}&` : '' %><%= genre ? `genre=${genre}&` : '' %>page=<%= i %>"><%= i %></a>
      </li>
    <% } %>
  </ul>
</nav>