
<h1 class="title has-text-white">My Profile</h1>

<div class="columns">
  <div class="column is-half">
    <div class="content">
      <h2 class="subtitle has-text-white">My Details</h2>
      <p><strong>Username:</strong> <%= user.username %></p>
    </div>
  </div>
</div>

<hr>

<h2 class="title is-4 has-text-white">My Bookmarks</h2>
<div class="columns is-multiline">
  <% mangaLibrary.forEach(manga => { %>
    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-image">
          <figure class="image is-2by3">
            <a href="/manga/<%= manga.id %>">
              <img src="/manga/<%= manga.id %>/<%= manga.cover %>" alt="<%= manga.title %>">
            </a>
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6"><a href="/manga/<%= manga.id %>" class="has-text-white"><%= manga.title %></a></p>
        </div>
      </div>
    </div>
  <% }); %>
</div>
